<header>
  <nav class="bg-info navbarHead" style="overflow: hidden">
    <div class="nav d-flex justify-content-left logo">
      <a routerLink="/" title="Vai alla Homepage">
        <img src="./../../assets/img/logo_nero.png" />
      </a>
    </div>

    <div class="topCenter">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item btn btn-outline-info">
          <a class="nav-link" routerLink="/home" routerLinkActive="corrente"
            >Home</a
          >
        </li>
        <li class="nav-item btn btn-outline-info">
          <a
            class="nav-link"
            routerLink="/ristoranti"
            routerLinkActive="corrente"
            >Ristoranti</a
          >
        </li>
        <li class="nav-item btn btn-outline-info">
          <a class="nav-link" routerLink="/login" routerLinkActive="corrente"
            >Login/Registrati</a
          >
        </li>
      </ul>
    </div>

    <!--fine-top-center-->
    <!--top-right-->
    <div class="d-flex justify-content-right">
      <div class="row topRight">
        <ul class="col-6 col-sm-3 nav">
          <li>
            <a
              href="https://www.facebook.com/"
              target="_blank"
              style="color: #3b5998"
              ><i class="fab fa-facebook-f"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/"
              target="_blank"
              style="color: #ac2bac"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
        </ul>
        <ul class="col-6 col-sm-3 nav">
          <li>
            <a
              href="https://www.youtube.com/"
              target="_blank"
              style="color: #ed302f"
              ><i class="fab fa-youtube"></i
            ></a>
          </li>
          <li>
            <a
              href="https://twitter.com/"
              target="_blank"
              style="color: #55acee"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <!--fine-top-right-->
  </nav>
</header>
