<!-- Footer -->

<footer class="text-center text-white bg-info">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Dove siamo</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Roma</a>
            </li>
            <li>
              <a href="#!" class="text-white">Milano</a>
            </li>
            <li>
              <a href="#!" class="text-white">Napoli</a>
            </li>
            <li>
              <a href="#!" class="text-white">Torino</a>
            </li>
            <li>
              <a href="#!" class="text-white">Palermo</a>
            </li>
            <li>
              <a href="#!" class="text-white">Venezia</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Specialità</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Pizza</a>
            </li>
            <li>
              <a href="#!" class="text-white">Pasta</a>
            </li>
            <li>
              <a href="#!" class="text-white">Sushi</a>
            </li>
            <li>
              <a href="#!" class="text-white">Burger</a>
            </li>
            <li>
              <a href="#!" class="text-white">Insalate</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contatti</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="tel:+3906234556" class="text-white"> +39.06.234556!</a>
            </li>
            <li>
              <a href="mailto:labforfood@gmail.com" class="text-white"
                >labforfood@gmail.com</a
              >
            </li>
            <li>
              <a
                class="btn btn-outline-light btn-floating m-1"
                href="https://wa.me/3420240133"
                role="button"
                ><i class="fab fa-whatsapp"></i> Whatsapp</a
              >
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Seguici sui social</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <li>
              <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
                ><i class="fab fa-instagram"></i
              ></a>
            </li>
            <li>
              <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
                ><i class="fab fa-youtube"></i
              ></a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->
</footer>
<!-- Footer -->
