<body class="home">
  <!--div-middle-->
  <div class="middle">
    <!--search-->
    <div class="titoloHome">
      <h1 class="text-center">Ordina online dai tuoi ristoranti preferiti</h1>
    </div>
    <div class="input-group rounded search">
      <input
        class="form-control form-control-lg"
        type="text"
        placeholder="Indirizzo di consegna"
      />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>
  </div>
</body>
<carousel [images]="images" class="carousel"> </carousel>
<div class="bottom">
  <div class="pay">
    <img src="../../assets/img/pay/payment.png" alt="" />
  </div>
  <div class="text">
    <h4 class="text-center text-info">
      Resta aggiornato e scarica la nostra App
    </h4>
  </div>
  <div class="download">
    <div class="gplay">
      <img src="../../assets/img/download/google-play.png" alt="" />
    </div>
    <div class="ios">
      <img src="../../assets/img/download/appstore.png" alt="" />
    </div>
  </div>
</div>
